/.DS_Store
/27a12693-ef8e-42ff-8455-df25dc683f85.png
/Bell_Inequality_with_Qiskit_Student.ipynb
/Quantum Machine Learning.pdf
/Quantum education.pages
/basics.py
/episode3.ipynb
/experiment_2 .ipynb
/experiment_2_2.ipynb
/experiment_2_3.ipynb
/failed_experiment_1.ipynb
/installation.ipynb
/miniconda
/table_image.png
/test3.ipynb
/test4.ipynb
/test_1.ipynb
/test_2.ipynb